# **6. 상위 n개 레코드(250113)(SELECT)**

In [ ]:
# SELECT NAME
# FROM ANIMAL_INS
# ORDER BY DATETIME LIMIT 1

# 설명

1. 동물 보호소에 가장 먼저 들어온 동물의 이름을 조회하는 SQL 문

# **10. 중복 제거하기(250119)(SUM, MAX, MIN)**

- 동물 보호소에 들어온 동물의 이름은 몇 개인지 조회하는 SQL 문을 작성해주세요.
- 이때 이름이 NULL인 경우는 집계하지 않으며 중복되는 이름은 하나로 칩니다.

In [ ]:
# SELECT COUNT(DISTINCT NAME)
# FROM ANIMAL_INS
# WHERE NAME IS NOT NULL