# **21. ì¡°ê±´ì— ë§žëŠ” íšŒì›ìˆ˜ êµ¬í•˜ê¸°(250211)(SELECT)**

In [ ]:
# ë¬¸ì œ ì„¤ëª…
# ë‹¤ìŒì€ ì–´ëŠ ì˜ë¥˜ ì‡¼í•‘ëª°ì— ê°€ìž…í•œ íšŒì› ì •ë³´ë¥¼ ë‹´ì€ USER_INFO í…Œì´ë¸”ìž…ë‹ˆë‹¤.
# USER_INFO í…Œì´ë¸”ì€ ì•„ëž˜ì™€ ê°™ì€ êµ¬ì¡°ë¡œ ë˜ì–´ìžˆìœ¼ë©° USER_ID, GENDER, AGE, JOINEDëŠ” ê°ê° íšŒì› ID, ì„±ë³„, ë‚˜ì´, ê°€ìž…ì¼ì„ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.

# Column name	Type	Nullable
# USER_ID	INTEGER	FALSE
# GENDER	TINYINT(1)	TRUE
# AGE	INTEGER	TRUE
# JOINED	DATE	FALSE
# GENDER ì»¬ëŸ¼ì€ ë¹„ì–´ìžˆê±°ë‚˜ 0 ë˜ëŠ” 1ì˜ ê°’ì„ ê°€ì§€ë©° 0ì¸ ê²½ìš° ë‚¨ìžë¥¼, 1ì¸ ê²½ìš°ëŠ” ì—¬ìžë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.

# ë¬¸ì œ
# USER_INFO í…Œì´ë¸”ì—ì„œ 2021ë…„ì— ê°€ìž…í•œ íšŒì› ì¤‘ ë‚˜ì´ê°€ 20ì„¸ ì´ìƒ 29ì„¸ ì´í•˜ì¸ íšŒì›ì´ ëª‡ ëª…ì¸ì§€ ì¶œë ¥í•˜ëŠ” SQLë¬¸ì„ ìž‘ì„±í•´ì£¼ì„¸ìš”.

# ì˜ˆì‹œ
# ì˜ˆë¥¼ ë“¤ì–´ USER_INFO í…Œì´ë¸”ì´ ë‹¤ìŒê³¼ ê°™ë‹¤ë©´

# USER_ID	GENDER	AGE	JOINED
# 1	1	26	2021-10-05
# 2	0	NULL	2021-11-25
# 3	1	22	2021-11-30
# 4	0	31	2021-12-03
# 5	0	28	2021-12-16
# 6	1	24	2022-01-03
# 7	1	NULL	2022-01-09
# 2021ë…„ì— ê°€ìž…í•œ íšŒì› ì¤‘ ë‚˜ì´ê°€ 20ì„¸ ì´ìƒ 29ì„¸ ì´í•˜ì¸ íšŒì›ì€ USER_ID ê°€ 1, 3, 5 ì¸ íšŒì›ë“¤ ì´ë¯€ë¡œ, ë‹¤ìŒê³¼ ê°™ì´ ê²°ê³¼ê°€ ë‚˜ì™€ì•¼ í•©ë‹ˆë‹¤.

# USERS
# 3

In [ ]:
# SELECT COUNT(USER_ID) as USER
# FROM USER_INFO
# WHERE JOINED LIKE '2021%'
# AND AGE >= '20'
# AND AGE <= '29'

In [ ]:
# SELECT COUNT(*) AS USERS
# FROM USER_INFO
# WHERE YEAR(JOINED) = 2021
# AND AGE BETWEEN 20 AND 29;

# **22. í‰ë¶€ì™¸ê³¼ ë˜ëŠ” ì¼ë°˜ì™¸ê³¼ ì˜ì‚¬ ëª©ë¡ ì¶œë ¥í•˜ê¸°(250212)(SELECT)**

In [ ]:
# ë¬¸ì œ ì„¤ëª…
# ë‹¤ìŒì€ ì¢…í•©ë³‘ì›ì— ì†í•œ ì˜ì‚¬ ì •ë³´ë¥¼ ë‹´ì€DOCTOR í…Œì´ë¸”ìž…ë‹ˆë‹¤.
# DOCTOR í…Œì´ë¸”ì€ ë‹¤ìŒê³¼ ê°™ìœ¼ë©° DR_NAME, DR_ID, LCNS_NO, HIRE_YMD, MCDP_CD, TLNOëŠ”
# ê°ê° ì˜ì‚¬ì´ë¦„, ì˜ì‚¬ID, ë©´í—ˆë²ˆí˜¸, ê³ ìš©ì¼ìž, ì§„ë£Œê³¼ì½”ë“œ, ì „í™”ë²ˆí˜¸ë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.

# Column name	Type	Nullable
# DR_NAME	VARCHAR(20)	FALSE
# DR_ID	VARCHAR(10)	FALSE
# LCNS_NO	VARCHAR(30)	FALSE
# HIRE_YMD	DATE	FALSE
# MCDP_CD	VARCHAR(6)	TRUE
# TLNO	VARCHAR(50)	TRUE
# ë¬¸ì œ
# DOCTOR í…Œì´ë¸”ì—ì„œ ì§„ë£Œê³¼ê°€ í‰ë¶€ì™¸ê³¼(CS)ì´ê±°ë‚˜ ì¼ë°˜ì™¸ê³¼(GS)ì¸ ì˜ì‚¬ì˜ ì´ë¦„, ì˜ì‚¬ID, ì§„ë£Œê³¼, ê³ ìš©ì¼ìžë¥¼ ì¡°íšŒí•˜ëŠ” SQLë¬¸ì„ ìž‘ì„±í•´ì£¼ì„¸ìš”.
# ì´ë•Œ ê²°ê³¼ëŠ” ê³ ìš©ì¼ìžë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê³ , ê³ ìš©ì¼ìžê°€ ê°™ë‹¤ë©´ ì´ë¦„ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•´ì£¼ì„¸ìš”.

# ì˜ˆì‹œ
# DOCTOR í…Œì´ë¸”ì´ ë‹¤ìŒê³¼ ê°™ì„ ë•Œ

# DR_NAME	DR_ID	LCNS_NO	HIRE_YMD	MCDP_CD	TLNO
# ë£¨í”¼	DR20090029	LC00010001	2009-03-01	CS	01085482011
# íŒ¨í‹°	DR20090001	LC00010901	2009-07-01	CS	01085220122
# ë½€ë¡œë¡œ	DR20170123	LC00091201	2017-03-01	GS	01034969210
# í‹°ê±°	DR20100011	LC00011201	2010-03-01	NP	01034229818
# í’ˆë°”	DR20090231	LC00011302	2015-11-01	OS	01049840278
# í‹°ëª¬	DR20090112	LC00011162	2010-03-01	FM	01094622190
# ë‹ˆëª¨	DR20200012	LC00911162	2020-03-01	CS	01089483921
# ì˜¤ë¡œë¼	DR20100031	LC00010327	2010-11-01	OS	01098428957
# ìžìŠ¤ë¯¼	DR20100032	LC00010192	2010-03-01	GS	01023981922
# ë²¨	DR20100039	LC00010562	2010-07-01	GS	01058390758
# SQLì„ ì‹¤í–‰í•˜ë©´ ë‹¤ìŒê³¼ ê°™ì´ ì¶œë ¥ë˜ì–´ì•¼ í•©ë‹ˆë‹¤.

# DR_NAME	DR_ID	MCDP_CD	HIRE_YMD
# ë‹ˆëª¨	DR20200012	CS	2020-03-01
# ë½€ë¡œë¡œ	DR20170123	GS	2017-03-01
# ë²¨	DR20100039	GS	2010-07-01
# ìžìŠ¤ë¯¼	DR20100032	GS	2010-03-01
# íŒ¨í‹°	DR20090001	CS	2009-07-01
# ë£¨í”¼	DR20090029	CS	2009-03-01

# ì£¼ì˜ì‚¬í•­
# ë‚ ì§œ í¬ë§·ì€ ì˜ˆì‹œì™€ ë™ì¼í•˜ê²Œ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [ ]:
# SELECT DR_NAME, DR_ID, MCDP_CD, DATE_FORMAT(HIRE_YMD, '%Y-%m-%d')
# FROM DOCTOR
# WHERE MCDP_CD = 'GS'
# OR MCDP_CD = 'CS'
# ORDER BY HIRE_YMD DESC, DR_NAME ASC

# **25. ì§„ë£Œê³¼ë³„ ì´ ì˜ˆì•½ íšŸìˆ˜ ì¶œë ¥í•˜ê¸°(250218)(GROUP BY)**

In [ ]:
# ë¬¸ì œ ì„¤ëª…
# ë‹¤ìŒì€ ì¢…í•©ë³‘ì›ì˜ ì§„ë£Œ ì˜ˆì•½ì •ë³´ë¥¼ ë‹´ì€ APPOINTMENT í…Œì´ë¸” ìž…ë‹ˆë‹¤.
# APPOINTMENT í…Œì´ë¸”ì€ ë‹¤ìŒê³¼ ê°™ìœ¼ë©° APNT_YMD, APNT_NO, PT_NO, MCDP_CD, MDDR_ID, APNT_CNCL_YN, APNT_CNCL_YMDëŠ”
# ê°ê° ì§„ë£Œì˜ˆì•½ì¼ì‹œ, ì§„ë£Œì˜ˆì•½ë²ˆí˜¸, í™˜ìžë²ˆí˜¸, ì§„ë£Œê³¼ì½”ë“œ, ì˜ì‚¬ID, ì˜ˆì•½ì·¨ì†Œì—¬ë¶€, ì˜ˆì•½ì·¨ì†Œë‚ ì§œë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.

# Column name	Type	Nullable
# APNT_YMD	TIMESTAMP	FALSE
# APNT_NO	NUMBER(5)	FALSE
# PT_NO	VARCHAR(10)	FALSE
# MCDP_CD	VARCHAR(6)	FALSE
# MDDR_ID	VARCHAR(10)	FALSE
# APNT_CNCL_YN	VARCHAR(1)	TRUE
# APNT_CNCL_YMD	DATE	TRUE
# ë¬¸ì œ
# APPOINTMENT í…Œì´ë¸”ì—ì„œ 2022ë…„ 5ì›”ì— ì˜ˆì•½í•œ í™˜ìž ìˆ˜ë¥¼ ì§„ë£Œê³¼ì½”ë“œ ë³„ë¡œ ì¡°íšŒí•˜ëŠ” SQLë¬¸ì„ ìž‘ì„±í•´ì£¼ì„¸ìš”.
# ì´ë•Œ, ì»¬ëŸ¼ëª…ì€ 'ì§„ë£Œê³¼ ì½”ë“œ', '5ì›”ì˜ˆì•½ê±´ìˆ˜'ë¡œ ì§€ì •í•´ì£¼ì‹œê³  ê²°ê³¼ëŠ” ì§„ë£Œê³¼ë³„ ì˜ˆì•½í•œ í™˜ìž ìˆ˜ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ê³ ,
# ì˜ˆì•½í•œ í™˜ìž ìˆ˜ê°€ ê°™ë‹¤ë©´ ì§„ë£Œê³¼ ì½”ë“œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•´ì£¼ì„¸ìš”.

# ì˜ˆì‹œ
# APPOINTMENT í…Œì´ë¸”ì´ ë‹¤ìŒê³¼ ê°™ì„ ë•Œ

# APNT_YMD	APNT_NO	PT_NO	MCDP_CD	MDDR_ID	APNT_CNCL_YN	APNT_CNCL_YMD
# 2022-04-14 09:30:00.000000	47	PT22000064	GS	DR20170123	N	NULL
# 2022-04-15 10:30:00.000000	48	PT22000065	OB	DR20100231	N	NULL
# 2022-05-15 17:30:00.000000	49	PT22000086	OB	DR20100231	N	NULL
# 2022-05-18 10:30:00.000000	52	PT22000019	GS	DR20100039	N	NULL
# 2022-05-19 12:00:00.000000	53	PT22000020	FM	DR20010112	N	NULL
# 2022-05-22 08:30:00.000000	54	PT22000021	GS	DR20100039	N	NULL
# 2022-05-04 10:30:00.000000	56	PT22000023	FM	DR20090112	N	NULL
# 2022-05-14 15:30:00.000000	57	PT22000074	CS	DR20200012	N	NULL
# 2022-05-24 15:30:00.000000	58	PT22000085	CS	DR20200012	N	NULL
# 2022-05-28 10:00:00.000000	60	PT22000092	OS	DR20100031	N	NULL
# SQLì„ ì‹¤í–‰í•˜ë©´ ë‹¤ìŒê³¼ ê°™ì´ ì¶œë ¥ë˜ì–´ì•¼ í•©ë‹ˆë‹¤.

# ì§„ë£Œê³¼ì½”ë“œ	5ì›”ì˜ˆì•½ê±´ìˆ˜
# OB	1
# OS	1
# CS	2
# FM	2
# GS	2

In [ ]:
# SELECT MCDP_CD AS 'ì§„ë£Œê³¼ ì½”ë“œ', COUNT(PT_NO) AS '5ì›”ì˜ˆì•½ê±´ìˆ˜'
# FROM APPOINTMENT
# WHERE APNT_YMD >= '2022-05-01' AND APNT_YMD < '2022-06-01'
# GROUP BY MCDP_CD
# ORDER BY '5ì›”ì˜ˆì•½ê±´ìˆ˜', 'ì§„ë£Œê³¼ ì½”ë“œ';

# **28. ì¤‘ì„±í™” ì—¬ë¶€ íŒŒì•…í•˜ê¸°(250224)(String, Date)**

In [ ]:
# ë¬¸ì œ ì„¤ëª…
# ANIMAL_INS í…Œì´ë¸”ì€ ë™ë¬¼ ë³´í˜¸ì†Œì— ë“¤ì–´ì˜¨ ë™ë¬¼ì˜ ì •ë³´ë¥¼ ë‹´ì€ í…Œì´ë¸”ìž…ë‹ˆë‹¤.
# ANIMAL_INS í…Œì´ë¸” êµ¬ì¡°ëŠ” ë‹¤ìŒê³¼ ê°™ìœ¼ë©°, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKEëŠ”
# ê°ê° ë™ë¬¼ì˜ ì•„ì´ë””, ìƒë¬¼ ì¢…, ë³´í˜¸ ì‹œìž‘ì¼, ë³´í˜¸ ì‹œìž‘ ì‹œ ìƒíƒœ, ì´ë¦„, ì„±ë³„ ë° ì¤‘ì„±í™” ì—¬ë¶€ë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.

# NAME	TYPE	NULLABLE
# ANIMAL_ID	VARCHAR(N)	FALSE
# ANIMAL_TYPE	VARCHAR(N)	FALSE
# DATETIME	DATETIME	FALSE
# INTAKE_CONDITION	VARCHAR(N)	FALSE
# NAME	VARCHAR(N)	TRUE
# SEX_UPON_INTAKE	VARCHAR(N)	FALSE
# ë³´í˜¸ì†Œì˜ ë™ë¬¼ì´ ì¤‘ì„±í™”ë˜ì—ˆëŠ”ì§€ ì•„ë‹Œì§€ íŒŒì•…í•˜ë ¤ í•©ë‹ˆë‹¤. ì¤‘ì„±í™”ëœ ë™ë¬¼ì€ SEX_UPON_INTAKE ì»¬ëŸ¼ì— 'Neutered' ë˜ëŠ” 'Spayed'ë¼ëŠ” ë‹¨ì–´ê°€ ë“¤ì–´ìžˆìŠµë‹ˆë‹¤.
# ë™ë¬¼ì˜ ì•„ì´ë””ì™€ ì´ë¦„, ì¤‘ì„±í™” ì—¬ë¶€ë¥¼ ì•„ì´ë”” ìˆœìœ¼ë¡œ ì¡°íšŒí•˜ëŠ” SQLë¬¸ì„ ìž‘ì„±í•´ì£¼ì„¸ìš”. ì´ë•Œ ì¤‘ì„±í™”ê°€ ë˜ì–´ìžˆë‹¤ë©´ 'O', ì•„ë‹ˆë¼ë©´ 'X'ë¼ê³  í‘œì‹œí•´ì£¼ì„¸ìš”.

# ì˜ˆì‹œ
# ì˜ˆë¥¼ ë“¤ì–´ ANIMAL_INS í…Œì´ë¸”ì´ ë‹¤ìŒê³¼ ê°™ë‹¤ë©´

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	INTAKE_CONDITION	NAME	SEX_UPON_INTAKE
# A355753	Dog	2015-09-10 13:14:00	Normal	Elijah	Neutered Male
# A373219	Cat	2014-07-29 11:43:00	Normal	Ella	Spayed Female
# A382192	Dog	2015-03-13 13:14:00	Normal	Maxwell 2	Intact Male
# ì¤‘ì„±í™”í•œ ë™ë¬¼: Elijah, Ella
# ì¤‘ì„±í™”í•˜ì§€ ì•Šì€ ë™ë¬¼: Maxwell 2
# ë”°ë¼ì„œ SQLë¬¸ì„ ì‹¤í–‰í•˜ë©´ ë‹¤ìŒê³¼ ê°™ì´ ë‚˜ì™€ì•¼ í•©ë‹ˆë‹¤.

# ANIMAL_ID	NAME	ì¤‘ì„±í™”
# A355753	Elijah	O
# A373219	Ella	O
# A382192	Maxwell 2	X
# â€» ì»¬ëŸ¼ ì´ë¦„ì€ ì¼ì¹˜í•˜ì§€ ì•Šì•„ë„ ë©ë‹ˆë‹¤.

In [ ]:
# SELECT ANIMAL_ID, NAME,
#        CASE
#            WHEN SEX_UPON_INTAKE LIKE 'Neutered%' OR SEX_UPON_INTAKE LIKE 'Spayed%' THEN 'O'
#            ELSE 'X'
#        END AS ì¤‘ì„±í™”
# FROM ANIMAL_INS
# ORDER BY ANIMAL_ID;

# **30. ìž…ì–‘ ì‹œê° êµ¬í•˜ê¸°(1)(250226)(GROUP BY)**

In [ ]:
# ë¬¸ì œ ì„¤ëª…
# ANIMAL_OUTS í…Œì´ë¸”ì€ ë™ë¬¼ ë³´í˜¸ì†Œì—ì„œ ìž…ì–‘ ë³´ë‚¸ ë™ë¬¼ì˜ ì •ë³´ë¥¼ ë‹´ì€ í…Œì´ë¸”ìž…ë‹ˆë‹¤.
# ANIMAL_OUTS í…Œì´ë¸” êµ¬ì¡°ëŠ” ë‹¤ìŒê³¼ ê°™ìœ¼ë©°, ANIMAL_ID, ANIMAL_TYPE, DATETIME, NAME, SEX_UPON_OUTCOMEëŠ”
# ê°ê° ë™ë¬¼ì˜ ì•„ì´ë””, ìƒë¬¼ ì¢…, ìž…ì–‘ì¼, ì´ë¦„, ì„±ë³„ ë° ì¤‘ì„±í™” ì—¬ë¶€ë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.

# NAME	TYPE	NULLABLE
# ANIMAL_ID	VARCHAR(N)	FALSE
# ANIMAL_TYPE	VARCHAR(N)	FALSE
# DATETIME	DATETIME	FALSE
# NAME	VARCHAR(N)	TRUE
# SEX_UPON_OUTCOME	VARCHAR(N)	FALSE
# ë³´í˜¸ì†Œì—ì„œëŠ” ëª‡ ì‹œì— ìž…ì–‘ì´ ê°€ìž¥ í™œë°œí•˜ê²Œ ì¼ì–´ë‚˜ëŠ”ì§€ ì•Œì•„ë³´ë ¤ í•©ë‹ˆë‹¤. 09:00ë¶€í„° 19:59ê¹Œì§€,
# ê° ì‹œê°„ëŒ€ë³„ë¡œ ìž…ì–‘ì´ ëª‡ ê±´ì´ë‚˜ ë°œìƒí–ˆëŠ”ì§€ ì¡°íšŒí•˜ëŠ” SQLë¬¸ì„ ìž‘ì„±í•´ì£¼ì„¸ìš”. ì´ë•Œ ê²°ê³¼ëŠ” ì‹œê°„ëŒ€ ìˆœìœ¼ë¡œ ì •ë ¬í•´ì•¼ í•©ë‹ˆë‹¤.

# ì˜ˆì‹œ
# SQLë¬¸ì„ ì‹¤í–‰í•˜ë©´ ë‹¤ìŒê³¼ ê°™ì´ ë‚˜ì™€ì•¼ í•©ë‹ˆë‹¤.

# HOUR	COUNT
# 9	1
# 10	2
# 11	13
# 12	10
# 13	14
# 14	9
# 15	7
# 16	10
# 17	12
# 18	16
# 19	2

In [ ]:
# SELECT
#     CAST(DATE_FORMAT(DATETIME, '%H') AS UNSIGNED) AS HOUR,
#     COUNT(ANIMAL_ID) AS COUNT
# FROM ANIMAL_OUTS
# WHERE CAST(DATE_FORMAT(DATETIME, '%H') AS UNSIGNED) BETWEEN 9 AND 19
# GROUP BY HOUR
# ORDER BY HOUR ASC

ðŸ“Œ 1. DATE_FORMAT(DATETIME, '%H')
 - DATE_FORMAT(DATETIME, '%H')ëŠ” DATETIMEì—ì„œ ì‹œê°„(HOUR) ë¶€ë¶„ë§Œ ë¬¸ìžì—´(String)ë¡œ ì¶”ì¶œí•˜ëŠ” í•¨ìˆ˜ìž…ë‹ˆë‹¤.

ðŸš€ CAST(DATE_FORMAT(DATETIME, '%H') AS UNSIGNED)ì˜ ì—­í• 
1. DATE_FORMAT(DATETIME, '%H') â†’ ì‹œê°„ì„ ë¬¸ìžì—´ë¡œ ê°€ì ¸ì˜´ (ì˜ˆ: '09', '10')
2. CAST(... AS UNSIGNED) â†’ ë¬¸ìžì—´ì„ ì •ìˆ˜ë¡œ ë³€í™˜ (ì˜ˆ: 9, 10)
3. ìˆ«ìžë¡œ ë³€í™˜ë˜ì—ˆìœ¼ë¯€ë¡œ BETWEEN ë¹„êµ ì—°ì‚° ê°€ëŠ¥

ðŸ‘‰ WHERE CAST(DATE_FORMAT(DATETIME, '%H') AS UNSIGNED) BETWEEN 9 AND 19

âœ… 09ì‹œ~19ì‹œ ì‚¬ì´ì˜ ë°ì´í„°ë§Œ í•„í„°ë§ ê°€ëŠ¥! ðŸŽ¯