# **32. 조건에 맞는 도서와 저자 리스트 출력하기(250303)(JOIN)**

In [ ]:
# 문제 설명
# 다음은 어느 한 서점에서 판매중인 도서들의 도서 정보(BOOK), 저자 정보(AUTHOR) 테이블입니다.

# BOOK 테이블은 각 도서의 정보를 담은 테이블로 아래와 같은 구조로 되어있습니다.

# Column name	Type	Nullable	Description
# BOOK_ID	INTEGER	FALSE	도서 ID
# CATEGORY	VARCHAR(N)	FALSE	카테고리 (경제, 인문, 소설, 생활, 기술)
# AUTHOR_ID	INTEGER	FALSE	저자 ID
# PRICE	INTEGER	FALSE	판매가 (원)
# PUBLISHED_DATE	DATE	FALSE	출판일
# AUTHOR 테이블은 도서의 저자의 정보를 담은 테이블로 아래와 같은 구조로 되어있습니다.

# Column name	Type	Nullable	Description
# AUTHOR_ID	INTEGER	FALSE	저자 ID
# AUTHOR_NAME	VARCHAR(N)	FALSE	저자명
# 문제
# '경제' 카테고리에 속하는 도서들의 도서 ID(BOOK_ID), 저자명(AUTHOR_NAME), 출판일(PUBLISHED_DATE) 리스트를 출력하는 SQL문을 작성해주세요.
# 결과는 출판일을 기준으로 오름차순 정렬해주세요.

# 예시
# 예를 들어 BOOK 테이블과 AUTHOR 테이블이 다음과 같다면

# BOOK_ID	CATEGORY	AUTHOR_ID	PRICE	PUBLISHED_DATE
# 1	인문	1	10000	2020-01-01
# 2	경제	1	9000	2021-04-11
# 3	경제	2	11000	2021-02-05
# AUTHOR_ID	AUTHOR_NAME
# 1	홍길동
# 2	김영호
# '경제' 카테고리에 속하는 도서는 도서 ID가 2, 3인 도서이고, 출판일을 기준으로 오름차순으로 정렬하면 다음과 같은 결과가 나와야 합니다.

# BOOK_ID	AUTHOR_NAME	PUBLISHED_DATE
# 3	김영호	2021-02-05
# 2	홍길동	2021-04-11
# 주의사항
# PUBLISHED_DATE의 데이트 포맷이 예시와 동일해야 정답처리 됩니다.

In [ ]:
# SELECT b.BOOK_ID, a.AUTHOR_NAME, DATE_FORMAT(b.PUBLISHED_DATE, '%Y-%m-%d') AS PUBLISHED_DATE
# FROM BOOK b
# JOIN AUTHOR a ON b.AUTHOR_ID = a.AUTHOR_ID
# WHERE b.CATEGORY = '경제'
# ORDER BY b.PUBLISHED_DATE;

# **33. 상품별 오프라인 매출 구하기(250304)(JOIN)**

In [ ]:
# 문제 설명
# 다음은 어느 의류 쇼핑몰에서 판매중인 상품들의 상품 정보를 담은 PRODUCT 테이블과 오프라인 상품 판매 정보를 담은 OFFLINE_SALE 테이블 입니다.
# PRODUCT 테이블은 아래와 같은 구조로 PRODUCT_ID, PRODUCT_CODE, PRICE는 각각 상품 ID, 상품코드, 판매가를 나타냅니다.

# Column name	Type	Nullable
# PRODUCT_ID	INTEGER	FALSE
# PRODUCT_CODE	VARCHAR(8)	FALSE
# PRICE	INTEGER	FALSE
# 상품 별로 중복되지 않는 8자리 상품코드 값을 가지며, 앞 2자리는 카테고리 코드를 의미합니다.

# OFFLINE_SALE 테이블은 아래와 같은 구조로 되어있으며 OFFLINE_SALE_ID, PRODUCT_ID, SALES_AMOUNT, SALES_DATE는 각각 오프라인 상품 판매 ID, 상품 ID, 판매량, 판매일을 나타냅니다.

# Column name	Type	Nullable
# OFFLINE_SALE_ID	INTEGER	FALSE
# PRODUCT_ID	INTEGER	FALSE
# SALES_AMOUNT	INTEGER	FALSE
# SALES_DATE	DATE	FALSE
# 동일한 날짜, 상품 ID 조합에 대해서는 하나의 판매 데이터만 존재합니다.

# 문제
# PRODUCT 테이블과 OFFLINE_SALE 테이블에서 상품코드 별 매출액(판매가 * 판매량) 합계를 출력하는 SQL문을 작성해주세요.
# 결과는 매출액을 기준으로 내림차순 정렬해주시고 매출액이 같다면 상품코드를 기준으로 오름차순 정렬해주세요.

# 예시
# 예를 들어 PRODUCT 테이블이 다음과 같고

# PRODUCT_ID	PRODUCT_CODE	PRICE
# 1	A1000011	15000
# 2	A1000045	8000
# 3	C3000002	42000
# OFFLINE_SALE 테이블이 다음과 같다면

# OFFLINE_SALE_ID	PRODUCT_ID	SALES_AMOUNT	SALES_DATE
# 1	1	2	2022-02-21
# 2	1	2	2022-03-02
# 3	3	3	2022-05-01
# 4	2	1	2022-05-24
# 5	1	2	2022-07-14
# 6	2	1	2022-09-22
# 각 상품 별 총 판매량과 판매가는 다음과 같습니다.

# PRODUCT_CODE 가 A1000011인 상품은 총 판매량이 6개, 판매가가 15,000원
# PRODUCT_CODE 가 A1000045인 상품은 총 판매량이 2개, 판매가가 8,000원
# PRODUCT_CODE 가 C3000002인 상품은 총 판매량이 3개, 판매가가 42,000원
# 그러므로 각 상품 별 매출액을 계산하고 정렬하면 결과가 다음과 같이 나와야 합니다.

# PRODUCT_CODE	SALES
# C3000002	126000
# A1000011	90000
# A1000045	16000

In [ ]:
# SELECT p.PRODUCT_CODE, SUM(p.PRICE * o.SALES_AMOUNT) AS SALES
# FROM PRODUCT p
# JOIN OFFLINE_SALE o ON p.PRODUCT_ID = o.PRODUCT_ID
# GROUP BY p.PRODUCT_CODE
# ORDER BY SALES DESC, p.PRODUCT_CODE ASC;

# **34. 성분으로 구분한 아이스크림 총 주문량(250305)(GROUP BY)**

In [ ]:
# 문제 설명
# 다음은 아이스크림 가게의 상반기 주문 정보를 담은 FIRST_HALF 테이블과 아이스크림 성분에 대한 정보를 담은 ICECREAM_INFO 테이블입니다.
# FIRST_HALF 테이블 구조는 다음과 같으며, SHIPMENT_ID, FLAVOR, TOTAL_ORDER 는
# 각각 아이스크림 공장에서 아이스크림 가게까지의 출하 번호, 아이스크림 맛, 상반기 아이스크림 총주문량을 나타냅니다.
# FIRST_HALF 테이블의 기본 키는 FLAVOR입니다.

# NAME	TYPE	NULLABLE
# SHIPMENT_ID	INT(N)	FALSE
# FLAVOR	VARCHAR(N)	FALSE
# TOTAL_ORDER	INT(N)	FALSE
# ICECREAM_INFO 테이블 구조는 다음과 같으며, FLAVOR, INGREDITENT_TYPE 은 각각 아이스크림 맛, 아이스크림의 성분 타입을 나타냅니다.
# INGREDIENT_TYPE에는 아이스크림의 주 성분이 설탕이면 sugar_based라고 입력되고, 아이스크림의 주 성분이 과일이면 fruit_based라고 입력됩니다.
# ICECREAM_INFO의 기본 키는 FLAVOR입니다. ICECREAM_INFO테이블의 FLAVOR는 FIRST_HALF 테이블의 FLAVOR의 외래 키입니다.

# NAME	TYPE	NULLABLE
# FLAVOR	VARCHAR(N)	FALSE
# INGREDIENT_TYPE	VARCHAR(N)	FALSE

# 문제
# 상반기 동안 각 아이스크림 성분 타입과 성분 타입에 대한 아이스크림의 총주문량을 총주문량이 작은 순서대로 조회하는 SQL 문을 작성해주세요.
# 이때 총주문량을 나타내는 컬럼명은 TOTAL_ORDER로 지정해주세요.

# 예시
# 예를 들어 FIRST_HALF 테이블이 다음과 같고

# SHIPMENT_ID	FLAVOR	TOTAL_ORDER
# 101	chocolate	3200
# 102	vanilla	2800
# 103	mint_chocolate	1700
# 104	caramel	2600
# 105	white_chocolate	3100
# 106	peach	2450
# 107	watermelon	2150
# 108	mango	2900
# 109	strawberry	3100
# 110	melon	3150
# 111	orange	2900
# 112	pineapple	2900
# ICECREAM_INFO 테이블이 다음과 같다면

# FLAVOR	INGREDIENT_TYPE
# chocolate	sugar_based
# vanilla	sugar_based
# mint_chocolate	sugar_based
# caramel	sugar_based
# white_chocolate	sugar_based
# peach	fruit_based
# watermelon	fruit_based
# mango	fruit_based
# strawberry	fruit_based
# melon	fruit_based
# orange	fruit_based
# pineapple	fruit_based
# 상반기에 아이스크림의 주 성분이 설탕인 아이스크림들에 대한 총주문량을 구하면 3,200 + 2,800 + 1,700 + 2,600 + 3,100 = 13,400입니다.
# 아이스크림의 주 성분이 과일인 아이스크림들에 대한 총주문량을 구하면 3,100 + 2,450 + 2,150 + 2,900 + 3,150 + 2,900 + 2,900 = 19,550입니다.
# 따라서 총주문량이 작은 순서대로 조회하는 SQL 문을 실행하면 다음과 같이 나와야 합니다.

# INGREDIENT_TYPE	TOTAL_ORDER
# sugar_based	13400
# fruit_based	19550

In [ ]:
# SELECT i.INGREDIENT_TYPE, SUM(f.TOTAL_ORDER) AS TOTAL_ORDER
# FROM FIRST_HALF f
# JOIN ICECREAM_INFO i on f.FLAVOR = i.FLAVOR
# GROUP BY i.INGREDIENT_TYPE
# ORDER BY f.TOTAL_ORDER ASC