# **21. 조건에 맞는 회원수 구하기(250211)(SELECT)**

In [ ]:
# 문제 설명
# 다음은 어느 의류 쇼핑몰에 가입한 회원 정보를 담은 USER_INFO 테이블입니다.
# USER_INFO 테이블은 아래와 같은 구조로 되어있으며 USER_ID, GENDER, AGE, JOINED는 각각 회원 ID, 성별, 나이, 가입일을 나타냅니다.

# Column name	Type	Nullable
# USER_ID	INTEGER	FALSE
# GENDER	TINYINT(1)	TRUE
# AGE	INTEGER	TRUE
# JOINED	DATE	FALSE
# GENDER 컬럼은 비어있거나 0 또는 1의 값을 가지며 0인 경우 남자를, 1인 경우는 여자를 나타냅니다.

# 문제
# USER_INFO 테이블에서 2021년에 가입한 회원 중 나이가 20세 이상 29세 이하인 회원이 몇 명인지 출력하는 SQL문을 작성해주세요.

# 예시
# 예를 들어 USER_INFO 테이블이 다음과 같다면

# USER_ID	GENDER	AGE	JOINED
# 1	1	26	2021-10-05
# 2	0	NULL	2021-11-25
# 3	1	22	2021-11-30
# 4	0	31	2021-12-03
# 5	0	28	2021-12-16
# 6	1	24	2022-01-03
# 7	1	NULL	2022-01-09
# 2021년에 가입한 회원 중 나이가 20세 이상 29세 이하인 회원은 USER_ID 가 1, 3, 5 인 회원들 이므로, 다음과 같이 결과가 나와야 합니다.

# USERS
# 3

In [ ]:
# SELECT COUNT(USER_ID) as USER
# FROM USER_INFO
# WHERE JOINED LIKE '2021%'
# AND AGE >= '20'
# AND AGE <= '29'

In [ ]:
# SELECT COUNT(*) AS USERS
# FROM USER_INFO
# WHERE YEAR(JOINED) = 2021
# AND AGE BETWEEN 20 AND 29;

# **22. 흉부외과 또는 일반외과 의사 목록 출력하기(250212)(SELECT)**

In [ ]:
# 문제 설명
# 다음은 종합병원에 속한 의사 정보를 담은DOCTOR 테이블입니다.
# DOCTOR 테이블은 다음과 같으며 DR_NAME, DR_ID, LCNS_NO, HIRE_YMD, MCDP_CD, TLNO는
# 각각 의사이름, 의사ID, 면허번호, 고용일자, 진료과코드, 전화번호를 나타냅니다.

# Column name	Type	Nullable
# DR_NAME	VARCHAR(20)	FALSE
# DR_ID	VARCHAR(10)	FALSE
# LCNS_NO	VARCHAR(30)	FALSE
# HIRE_YMD	DATE	FALSE
# MCDP_CD	VARCHAR(6)	TRUE
# TLNO	VARCHAR(50)	TRUE
# 문제
# DOCTOR 테이블에서 진료과가 흉부외과(CS)이거나 일반외과(GS)인 의사의 이름, 의사ID, 진료과, 고용일자를 조회하는 SQL문을 작성해주세요.
# 이때 결과는 고용일자를 기준으로 내림차순 정렬하고, 고용일자가 같다면 이름을 기준으로 오름차순 정렬해주세요.

# 예시
# DOCTOR 테이블이 다음과 같을 때

# DR_NAME	DR_ID	LCNS_NO	HIRE_YMD	MCDP_CD	TLNO
# 루피	DR20090029	LC00010001	2009-03-01	CS	01085482011
# 패티	DR20090001	LC00010901	2009-07-01	CS	01085220122
# 뽀로로	DR20170123	LC00091201	2017-03-01	GS	01034969210
# 티거	DR20100011	LC00011201	2010-03-01	NP	01034229818
# 품바	DR20090231	LC00011302	2015-11-01	OS	01049840278
# 티몬	DR20090112	LC00011162	2010-03-01	FM	01094622190
# 니모	DR20200012	LC00911162	2020-03-01	CS	01089483921
# 오로라	DR20100031	LC00010327	2010-11-01	OS	01098428957
# 자스민	DR20100032	LC00010192	2010-03-01	GS	01023981922
# 벨	DR20100039	LC00010562	2010-07-01	GS	01058390758
# SQL을 실행하면 다음과 같이 출력되어야 합니다.

# DR_NAME	DR_ID	MCDP_CD	HIRE_YMD
# 니모	DR20200012	CS	2020-03-01
# 뽀로로	DR20170123	GS	2017-03-01
# 벨	DR20100039	GS	2010-07-01
# 자스민	DR20100032	GS	2010-03-01
# 패티	DR20090001	CS	2009-07-01
# 루피	DR20090029	CS	2009-03-01

# 주의사항
# 날짜 포맷은 예시와 동일하게 나와야합니다.

In [ ]:
# SELECT DR_NAME, DR_ID, MCDP_CD, DATE_FORMAT(HIRE_YMD, '%Y-%m-%d')
# FROM DOCTOR
# WHERE MCDP_CD = 'GS'
# OR MCDP_CD = 'CS'
# ORDER BY HIRE_YMD DESC, DR_NAME ASC

# **25. 진료과별 총 예약 횟수 출력하기(250218)(GROUP BY)**

In [ ]:
# 문제 설명
# 다음은 종합병원의 진료 예약정보를 담은 APPOINTMENT 테이블 입니다.
# APPOINTMENT 테이블은 다음과 같으며 APNT_YMD, APNT_NO, PT_NO, MCDP_CD, MDDR_ID, APNT_CNCL_YN, APNT_CNCL_YMD는
# 각각 진료예약일시, 진료예약번호, 환자번호, 진료과코드, 의사ID, 예약취소여부, 예약취소날짜를 나타냅니다.

# Column name	Type	Nullable
# APNT_YMD	TIMESTAMP	FALSE
# APNT_NO	NUMBER(5)	FALSE
# PT_NO	VARCHAR(10)	FALSE
# MCDP_CD	VARCHAR(6)	FALSE
# MDDR_ID	VARCHAR(10)	FALSE
# APNT_CNCL_YN	VARCHAR(1)	TRUE
# APNT_CNCL_YMD	DATE	TRUE
# 문제
# APPOINTMENT 테이블에서 2022년 5월에 예약한 환자 수를 진료과코드 별로 조회하는 SQL문을 작성해주세요.
# 이때, 컬럼명은 '진료과 코드', '5월예약건수'로 지정해주시고 결과는 진료과별 예약한 환자 수를 기준으로 오름차순 정렬하고,
# 예약한 환자 수가 같다면 진료과 코드를 기준으로 오름차순 정렬해주세요.

# 예시
# APPOINTMENT 테이블이 다음과 같을 때

# APNT_YMD	APNT_NO	PT_NO	MCDP_CD	MDDR_ID	APNT_CNCL_YN	APNT_CNCL_YMD
# 2022-04-14 09:30:00.000000	47	PT22000064	GS	DR20170123	N	NULL
# 2022-04-15 10:30:00.000000	48	PT22000065	OB	DR20100231	N	NULL
# 2022-05-15 17:30:00.000000	49	PT22000086	OB	DR20100231	N	NULL
# 2022-05-18 10:30:00.000000	52	PT22000019	GS	DR20100039	N	NULL
# 2022-05-19 12:00:00.000000	53	PT22000020	FM	DR20010112	N	NULL
# 2022-05-22 08:30:00.000000	54	PT22000021	GS	DR20100039	N	NULL
# 2022-05-04 10:30:00.000000	56	PT22000023	FM	DR20090112	N	NULL
# 2022-05-14 15:30:00.000000	57	PT22000074	CS	DR20200012	N	NULL
# 2022-05-24 15:30:00.000000	58	PT22000085	CS	DR20200012	N	NULL
# 2022-05-28 10:00:00.000000	60	PT22000092	OS	DR20100031	N	NULL
# SQL을 실행하면 다음과 같이 출력되어야 합니다.

# 진료과코드	5월예약건수
# OB	1
# OS	1
# CS	2
# FM	2
# GS	2

In [ ]:
# SELECT MCDP_CD AS '진료과 코드', COUNT(PT_NO) AS '5월예약건수'
# FROM APPOINTMENT
# WHERE APNT_YMD >= '2022-05-01' AND APNT_YMD < '2022-06-01'
# GROUP BY MCDP_CD
# ORDER BY '5월예약건수', '진료과 코드';

# **28. 중성화 여부 파악하기(250224)(String, Date)**

In [ ]:
# 문제 설명
# ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다.
# ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는
# 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

# NAME	TYPE	NULLABLE
# ANIMAL_ID	VARCHAR(N)	FALSE
# ANIMAL_TYPE	VARCHAR(N)	FALSE
# DATETIME	DATETIME	FALSE
# INTAKE_CONDITION	VARCHAR(N)	FALSE
# NAME	VARCHAR(N)	TRUE
# SEX_UPON_INTAKE	VARCHAR(N)	FALSE
# 보호소의 동물이 중성화되었는지 아닌지 파악하려 합니다. 중성화된 동물은 SEX_UPON_INTAKE 컬럼에 'Neutered' 또는 'Spayed'라는 단어가 들어있습니다.
# 동물의 아이디와 이름, 중성화 여부를 아이디 순으로 조회하는 SQL문을 작성해주세요. 이때 중성화가 되어있다면 'O', 아니라면 'X'라고 표시해주세요.

# 예시
# 예를 들어 ANIMAL_INS 테이블이 다음과 같다면

# ANIMAL_ID	ANIMAL_TYPE	DATETIME	INTAKE_CONDITION	NAME	SEX_UPON_INTAKE
# A355753	Dog	2015-09-10 13:14:00	Normal	Elijah	Neutered Male
# A373219	Cat	2014-07-29 11:43:00	Normal	Ella	Spayed Female
# A382192	Dog	2015-03-13 13:14:00	Normal	Maxwell 2	Intact Male
# 중성화한 동물: Elijah, Ella
# 중성화하지 않은 동물: Maxwell 2
# 따라서 SQL문을 실행하면 다음과 같이 나와야 합니다.

# ANIMAL_ID	NAME	중성화
# A355753	Elijah	O
# A373219	Ella	O
# A382192	Maxwell 2	X
# ※ 컬럼 이름은 일치하지 않아도 됩니다.

In [ ]:
# SELECT ANIMAL_ID, NAME,
#        CASE
#            WHEN SEX_UPON_INTAKE LIKE 'Neutered%' OR SEX_UPON_INTAKE LIKE 'Spayed%' THEN 'O'
#            ELSE 'X'
#        END AS 중성화
# FROM ANIMAL_INS
# ORDER BY ANIMAL_ID;

# **30. 입양 시각 구하기(1)(250226)(GROUP BY)**

In [ ]:
# 문제 설명
# ANIMAL_OUTS 테이블은 동물 보호소에서 입양 보낸 동물의 정보를 담은 테이블입니다.
# ANIMAL_OUTS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, NAME, SEX_UPON_OUTCOME는
# 각각 동물의 아이디, 생물 종, 입양일, 이름, 성별 및 중성화 여부를 나타냅니다.

# NAME	TYPE	NULLABLE
# ANIMAL_ID	VARCHAR(N)	FALSE
# ANIMAL_TYPE	VARCHAR(N)	FALSE
# DATETIME	DATETIME	FALSE
# NAME	VARCHAR(N)	TRUE
# SEX_UPON_OUTCOME	VARCHAR(N)	FALSE
# 보호소에서는 몇 시에 입양이 가장 활발하게 일어나는지 알아보려 합니다. 09:00부터 19:59까지,
# 각 시간대별로 입양이 몇 건이나 발생했는지 조회하는 SQL문을 작성해주세요. 이때 결과는 시간대 순으로 정렬해야 합니다.

# 예시
# SQL문을 실행하면 다음과 같이 나와야 합니다.

# HOUR	COUNT
# 9	1
# 10	2
# 11	13
# 12	10
# 13	14
# 14	9
# 15	7
# 16	10
# 17	12
# 18	16
# 19	2

In [ ]:
# SELECT
#     CAST(DATE_FORMAT(DATETIME, '%H') AS UNSIGNED) AS HOUR,
#     COUNT(ANIMAL_ID) AS COUNT
# FROM ANIMAL_OUTS
# WHERE CAST(DATE_FORMAT(DATETIME, '%H') AS UNSIGNED) BETWEEN 9 AND 19
# GROUP BY HOUR
# ORDER BY HOUR ASC

📌 1. DATE_FORMAT(DATETIME, '%H')
 - DATE_FORMAT(DATETIME, '%H')는 DATETIME에서 시간(HOUR) 부분만 문자열(String)로 추출하는 함수입니다.

🚀 CAST(DATE_FORMAT(DATETIME, '%H') AS UNSIGNED)의 역할
1. DATE_FORMAT(DATETIME, '%H') → 시간을 문자열로 가져옴 (예: '09', '10')
2. CAST(... AS UNSIGNED) → 문자열을 정수로 변환 (예: 9, 10)
3. 숫자로 변환되었으므로 BETWEEN 비교 연산 가능

👉 WHERE CAST(DATE_FORMAT(DATETIME, '%H') AS UNSIGNED) BETWEEN 9 AND 19

✅ 09시~19시 사이의 데이터만 필터링 가능! 🎯